<h1>Anime</h1>

<div class="card cards bg-dark text-white" *ngFor="let anime of animes">
  <img class="card-img" src="https://kbimages1-a.akamaihd.net/936f0b39-0bf9-492b-acf1-61117c52dd41/353/569/90/False/mushoku-tensei-jobless-reincarnation-light-novel-vol-13.jpg" alt="Card image">
  <div class="card-img-overlay cardContent">
    <h5 class="card-title">Mushoku Tensei: Jobless Reincarnation</h5>
    <p class="card-text">Descrição: {{anime.description}}</p>
    <p class="card-text">Status: {{anime.status}}</p>
    <p class="card-text">Temporada: {{anime.volume}}</p>
    <p class="card-text">Episode: {{anime.chapter}}</p>
    <p class="card-text"><a href="https://www.google.com.br/" target="_blank">Site</a></p>
    <p class="card-text">User: {{anime.user.name}}</p>
  </div>
</div>
